<!DOCTYPE html>
<html>
<head>
  <title>Make Her Smile</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <div class="nav">
    <h2><%= link_to "Make Her Smile", root_url %> </h2>
  </div>

<%= yield %>

</body>
</html>
